/Taller_Interfaces_Graficas/build/
/Taller_Interfaces_Graficas/dist/
/Calculadora_Taller_Interfacez_Graficas/nbproject/private/
/Calculadora_Taller_Interfacez_Graficas/build/
/Calculadora_Taller_Interfacez_Graficas/dist/
